/*./summarize.sh 10 cigarrillos.jpg*/
:root {
  --global-color-v0 : #c4e0dc; /*Parrot Green Light*/
  --global-color-v1 : #5fcba5; /*Spruce Green*/
  --global-color-v2 : #40514e; /*Jet Black*/
  --global-color-v3 : #6f4891; /*Black Grape*/
  --global-color-v4 : #ffffff; /*Brick White*/
  --global-color-v5 : #e1baac; /*Nectar*/
  --global-color-v6 : #faf3e9; /*Peach Beige*/
  --global-color-v7 : #d97b5c; /*Burnt Ochre*/
  --global-color-v8 : #aeaba7; /*French Grey 50%*/
  --global-color-v9 : #aa6839; /*Chocolate*/

  /* undefined, inherited from main.css */
  /*--global-color-card-background: #ecc1bc;*/
  --global-color-border: #aa6839 ;
  --global-color-sidebar-text: #40514e;
  --global-color-sidebar-content-background: #fbebdc;
  --global-color-h1: #6f4891;
  --global-color-code: #d97b5c;
  --global-color-nav-background : #40514e;
  --global-color-nav-text: #faf3e9;
  --global-color-header-background : #5fcba5;
  --global-color-header-text: #6f4891;
  --global-color-title: #d97b5c;
  --global-color-intro-background: #ffffff;
  --global-color-intro-text: #6f4891;
  --global-color-sidebar-background: #c4e0dc;
  --global-color-content-link: #aa6839;
  --global-color-footer-background: #40514e;
  --global-color-footer-text: #ffffff;
}