/*./summarize.sh 10 Cycles_Perfecta.jpg*/

:root {
  --global-color-v0 : #faf5d6; /*Eggshell*/
  --global-color-v1 : #a69257; /*Bronze*/
  --global-color-v2 : #eeb862; /*Yellow Ochre*/
  --global-color-v3 : #f9e5a6; /*Beige*/
  --global-color-v4 : #ccb164; /*Metallic Gold*/
  --global-color-v5 : #bfc287; /*Khaki*/
  --global-color-v6 : #866343; /*Light Umber*/
  --global-color-v7 : #5e5f3d; /*Moss Green*/
  --global-color-v8 : #f98240; /*Orange*/
  --global-color-v9 : #cbb6a1; /*Light Umber 50%*/

  /* undefined, inherited from main.css */
  /*--global-color-card-background: #ecc1bc;*/
  --global-color-border: #aa6839 ;
  --global-color-sidebar-text: #40514e;
  --global-color-sidebar-content-background: #fbebdc;
  --global-color-h1: #faf5d6;
  --global-color-code: #f98240;
  --global-color-nav-background : #a69257;
  --global-color-nav-text: #faf3e9;
  --global-color-header-background : #ccb164;
  --global-color-header-text: #faf5d6;
  --global-color-title: #5e5f3d;
  --global-color-intro-background: #ffffff;
  --global-color-intro-text: #5e5f3d;
  --global-color-sidebar-background: #866343;
  --global-color-content-link: #866343;
  --global-color-footer-background: #cbb6a1;
  --global-color-footer-text: #faf5d6;
}