 /*./summarize.sh 12 glacier.jpg*/
:root {
  --global-color-v0 : #b8a68d; /*Light Umber 90%*/
  --global-color-v1 : #ffffff; /*Neutral Grey 10%*/
  --global-color-v2 : #754d3d; /*Sepia*/
  --global-color-v3 : #b0bfc7; /*Slate Grey*/
  --global-color-v4 : #eaeced; /*Warm Grey 50%*/
  --global-color-v5 : #e2d6cb; /*Light Umber 70%*/
  --global-color-v6 : #d5cb91; /*Artichoke*/
  --global-color-v7 : #9b9c66; /*Moss Green*/
  --global-color-v8 : #ba9675; /*Light Umber*/
  --global-color-v9 : #faf3e9; /*Peach Beige*/
  --global-color-v10 : #aa6839; /*Chocolate*/
  --global-color-v11 : #424242; /*Black*/

  /* undefined, inherited from main.css */
  /*--global-color-card-background: #ecc1bc;*/
  --global-color-border: #aa6839;
  --global-color-sidebar-text: #40514e;
  --global-color-sidebar-content-background: #fbebdc;
  --global-color-h1: #424242;
  --global-color-code: #9b9c66;
  --global-color-nav-background : #40514e;
  --global-color-nav-text: #d5cb91;
  --global-color-header-background : #b0bfc7;
  --global-color-header-text: #424242;
  --global-color-title: #754d3d;
  --global-color-intro-background: #ffffff;
  --global-color-intro-text: #40514e;
  --global-color-sidebar-background: #d5cb91;
  --global-color-content-link: #aa6839;
  --global-color-footer-background: #b8a68d;
  --global-color-footer-text: #eaeced;
}
