:root {
  --global-color-d4: #4170b4; /*Mediterranean Blue*/
  --global-color-d3: #706b67; /*French Grey 70%*/
  --global-color-d2: #748e9d; /*Slate Grey*/
  --global-color-d1: #483c32; /*Taupe*/

  --global-color-l1: #8aaedc; /*Ultramarine Light*/
  --global-color-l2: #b8c7de; /*Blue Slate*/
  --global-color-l3: #e4d5c0; /*Light Umber 20%*/
  --global-color-l4: #d1bfac; /*Light Umber 40%*/
}
