.explorable .container {
  display: grid;

  grid-template-areas: 
      "header header"
      "content sidebarRight"
      "footer footer";

  grid-template-columns: 1fr 2fr;
  background-color: #f4f2e9;
}

.explorable article {
  padding-top: 3em;
  padding-left: 4em;
  grid-area: content;
  padding-bottom: 0em;
  margin-bottom: 10em;
}

.explorable rect {
  fill: #f4f2e9;
}

.explorable header {
 background-color: unset;
}

.explorable .sidebar-right {
  margin-right: 5%;
  grid-area: sidebarRight;
}

.explorable .sidebar-content {
  background-color: unset;
  border-style: none;
  padding-top: 10%;
}
