:root {
  --global-color-v0: #bae2a5; /*Apple Green*/
  --global-color-v1: #a7bb8b; /*Kelly Green*/
  --global-color-v3: #bab8bd; /*Neutral Grey 30%*/
  --global-color-v2: #d5cb91; /*Artichoke*/
  --global-color-v4: #324242; /*Warm Black*/
  --global-color-v5: #c6d1d7; /*Cool Grey 60%*/
  --global-color-v6: #fde297; /*Sunburst Yellow*/
  --global-color-v7: #a8a7ac; /*Neutral Grey 60%*/
}
