@import 'main-theme.css';
@import 'goldenrod-theme.css';
/*@import 'rounder-theme.css';*/
/*@import 'light-green-theme.css';*/
/*@import 'desert-sarah-theme.css';*/
/*@import 'woman-in-rain-theme.css';*/
@import 'coast-theme.css';

@font-face {
  font-family: "Moon Light";
  src: url(./../fonts/moon/MoonLight.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oranienbaum";
  src: url(./../fonts/oranienbaum/Oranienbaum.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Oranienbaum';
  font-size: 3em;
  color: var(--global-color-d2);
}

h2 {
  font-family: 'Moon Light';
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

h3 {
  font-family: 'Oranienbaum';
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: var(--global-color-rust);
}

code {
  color: var(--global-color-code);
}

.content {
  margin-top: 5%;
  margin-bottom: 7%;
  margin-left: 10%;
  width:70%;
  align-items:center;
  font-size: 1.2em;
  font-family: helvetica;
  /*color: var(--global-color-d4);*/
}

.header-img {
  width: 100%;
  height: 80%;
  display: block;
  margin-bottom: 7%;
}

.card {
  padding-top: 1em;
}