:root{
  --global-color-v0 : #309471; /*Spruce Green*/
  --global-color-v1 : #0f0f0f; /*Black*/
  --global-color-v2 : #483c32; /*Taupe*/
  --global-color-v3 : #b69b80; /*Light Umber 80%*/
  --global-color-v4 : #fcdec4; /*Brick Beige*/
  --global-color-v5 : #c57b62; /*Nectar*/
  --global-color-v6 : #d1bfac; /*Light Umber 40%*/
  --global-color-v7 : #55565d; /*Neutral Grey 80%*/
  --global-color-v8 : #f0b58b; /*Peach*/
  --global-color-v9 : #ab4e46; /*Henna*/
}