.main nav {
  position: fixed;
  background-color: var(--global-color-nav-background);
}

.navbar {
  padding: 0;
  padding-left: 2%;
  padding-right: 7%;
}

.nav-link {
  font-size: 1.5em;
  color: var(--global-color-nav-text) !important;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-right: 1%;
}
.dropdown-toggle:after {
  display: none;
}