:root {
  --global-color-l4: #fdd391; /*light Goldenrod*/
  --global-color-l3: #fbf7e9; /*light Cinnamon Toast*/
  --global-color-l2: #e1dae8; /*light periwinkle*/
  --global-color-l1: #bee2e7; /*light Muted Turquoise*/

  --global-color-d1: #ce8b1b; /*strong Sandbar Brown*/
  --global-color-d2: #9b96bd; /*strong periwinkle*/
  --global-color-d3: #a2c2d5; /*light Slate Grey*/
  --global-color-d4: #f5f2e3; /*brick white*/
}
