/*@import 'main-theme.css';*/
/*@import 'goldenrod-theme.css';*/
/*@import 'rounder-theme.css';*/
/*@import 'light-green-theme.css';*/

/*These are really good*/
/*@import 'coast-theme.css';*/
/*@import 'desert-sarah-theme.css';*/
/*@import 'woman-in-rain-theme.css';*/
/*@import 'cycles-perfecta-theme.css';*/
/*@import 'mucha2-theme.css';*/
/*@import 'cigarrillos-theme.css';*/
@import 'prayer-theme.css';
/*@import 'job-theme.css';*/

.main {
  background-color: var(--global-color-v0);
}

/* NOTE: TO USE GRIDS FOLLOW RULES BELOW.*/
/*- You need to have every cell of the grid filled.*/
/*- To span across two cells, repeat the name.*/
/*- To leave a cell empty, use a . (period).*/
/*- Areas must be rectangular — you can’t have an L-shaped area for example.*/
/*- Areas can't be repeated in different locations.*/

.container {
  display: grid;

  grid-template-areas: 
      "header header header"
      "sidebarLeft content sidebarRight"
      "footer footer footer";

  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
}

header {
  grid-area: header;
  background-color: var(--global-color-v8);
  text-align: center;
  font-size: 3em;
  padding: 30px;
}

article {
  grid-area: content;
}

.sidebar-left {
  grid-area: sidebarLeft;
}

.sidebar-right {
  grid-area: sidebarRight;
}

footer {
  grid-area: footer;
  background-color: var(--global-color-v9);
  text-align: center;
  font-size: 2em;
  padding: 30px;
}

.content {

  background-color: var(--global-color-v2);
}

.card {
  color: #f5f2e3; /*brick white*/
}

h1 {
  /*font-size: 30px;*/
  color: var(--global-color-v9);
}

h2 {
  color: var(--global-color-v7);
}

a {
  color: var(--global-color-v7);
}

code {
  color: var(--global-color-v0);
}

.title {
  padding-left: 5%;
  color: var(--global-color-v0);
}

.card {
  margin-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  background-color: var(--global-color-v4);
  color: var(--global-color-v1);
}

