/*@import 'main-theme.css';*/
/*@import 'rounder-theme.css';*/

/*These are really good*/
/*@import 'coast-theme.css';*/
/*@import 'desert-sarah-theme.css';*/
/*@import 'woman-in-rain-theme.css';*/
/*@import 'job-theme.css';*/

/*@import 'cycles-perfecta-theme.css';*/
/*@import 'mucha2-theme.css';*/
/*@import 'prayer-theme.css';*/
/*@import 'cigarrillos-theme.css';*/
/*@import 'light-green-theme.css';*/
@import 'goldenrod-theme.css';

.main {
  background-color: var(--global-color-v0);
}

/* NOTE: TO USE GRIDS FOLLOW RULES BELOW.*/
/* https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids */
/*- You need to have every cell of the grid filled.*/
/*- To span across two cells, repeat the name.*/
/*- To leave a cell empty, use a . (period).*/
/*- Areas must be rectangular — you can’t have an L-shaped area for example.*/
/*- Areas can't be repeated in different locations.*/

.container {
  display: grid;

  grid-template-areas: 
      "header header header"
      "sidebarLeft content sidebarRight"
      "footer footer footer";

  grid-template-columns: 0.8fr 2.2fr 0.5fr;
  /*grid-gap: 12px;*/
}

header {
  grid-area: header;
  font-family: 'helvetica';
  color: var(--global-color-v6);
  background-color: var(--global-color-v6);
  text-align: right;
  font-size: 2.3em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-right: 1em;
}

article {
  padding-left: 3em;
  grid-area: content;
  padding-bottom: 5em;
}

.sidebar-left {
  padding: 2em;
  grid-area: sidebarLeft;
  background-color: var(--global-color-v1);
}

.sidebar-right {
  color: white;
  grid-area: sidebarRight;
}

footer {
  /*footer follows page*/
  position: fixed;
  bottom: 0;
  width: 100%;

  grid-area: footer;
  /*color: var(--global-color-v4);*/
  color: #faf5d6; /* eggshell */
  background-color: var(--global-color-rust);
  text-align: center;
  font-size: 1.5em;
  padding: 0.7em;
}

.introduction {
  color: var(--global-color-v4);
  color: #faf5d6;  /*eggshell */
  background-color: var(--global-color-v2);

  padding: 5%;
  align-items:center;
  font-size: 1.2em;
  font-family: helvetica;
}

h1 {
  color: var(--global-color-v9);
}

h2 {

  color: var(--global-color-v0);
}

a {
  color: var(--global-color-v7);
}

code {
  color: var(--global-color-v7);
}

.title {
  font-family: 'Moon Light';
  font-size: 3em;
  background-color: var(--global-color-v4);
  color: var(--global-color-v0);
}

.card {
  padding-left: 1em;
  background-color: var(--global-color-v4);
}

